@import url(https://fonts.googleapis.com/css?family=Lilita+One);

/* App Fonts */
$primary-font: 'Lilita One', cursive;

/* Main app colors */
$main: #EC6A6A;
$secondary: #616161;
$active: #7FE781;
$white: #fff;
$lightgrey: #D3D3D3;

/* Subscription colors */
$basic: #71AAC5;
$silver: #D8D8D8;
$bronze: #FB9F6E;
$gold: #E7D87F;
$special: #E2DC23;

/* Specific colors */
$welcomeButton: #7FE781;
$linkItems: rgba(124,124,124,0.8);
$expired-fill: rgba(111,111,111,0.06);
$appgreen: #A3E5A4;
$superlight: #F4F8F6;