// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$welcomeBg: #ED5747;
$welcomeBgHighlight: #EC6657;
$welcomeLogo: #fff;
$welcomeTitle: #616161;
$welcomeButton: #9ED561;
$lightgrey: #D3D3D3;
$linkHighlight: #616161;
$white: #fff;

$active: #7FE781;

$primary-font: 'Lilita One', cursive; 

* {
	box-sizing: border-box;
}

#nest-title {
	position: fixed;
	background: white;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-family: $primary_font;
	font-size: 1.5em;
	color: $linkHighlight;

}

h1, h2{
	font-weight: 700;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}
	
#nested_links	{
	max-width: 505px;
	margin: 0 auto;
	padding-top: 64px;
}

.link-item {
	margin-bottom: 3px;
	width: 100%;
	height: 44px;
	border-radius: 25px;
	padding: 13px;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	.link-icon {
		.circle { 
			text-align: center;
			padding-top: 6px;
			padding-left: 1px;
			font-size: 0.9em;
			margin-top: -5px;
			margin-left: -5px;
			background: white;
			height: 28px;
			width: 28px;
			border-radius: 50%;
		}
	}
	.link-title {}
	.link-code { text-align: right;}
}

.active {
	background: $active;
	.circle {color: $active;}
}
.ending {
	background: $welcomeBg;
	.circle {color: $welcomeBg;}
}
.expired {
	background: $lightgrey;
	.circle {color: $lightgrey;}
}

.link-details { display: none;}

@media only screen and (max-width: 975px) {
	.row {
		.user-link {
			width: 46%;
			min-width: 250px;
			margin: 10px 1.6%;
		}
	}
}

@media only screen and (max-width: 700px) {}
	

@media only screen and (max-width: 575px) {}

	#nested_links	{
		margin: 0 auto;
	}
	
/* Show.html.erb */

#graph-section {
	padding: 2em 0;
	max-width: 1020px;
	min-height: 380px;
	margin: 0 auto;
	text-align: center;
	color: $linkHighlight;
	h1 {
		font-family: $primary_font;
		font-size: 2em;
	}
	h2 {
		padding-top: 0.5em;
		font-size: 1.3em;
	}
	.goal-achieved {
		position: absolute;
		top: 85px;
		left: 20px;
		height: 110px;
		width: 150px;
		background-image: image-url("MissionComplete.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.goals {
		width: 208px;
		display: inline-block;
		margin-top: 1em;
		padding: 10px 4px;
		#goal-actual {
			float: left;
			margin-right:3px;
			width:95px;
			padding-bottom: 0.5em;
			border-bottom: 2px solid red;
		}
		#goal-expected {
			margin-left:3px;
			float: left;
			width:95px;
			padding-bottom: 0.5em;
			border-bottom: 2px solid green;
		}
	}
}

#analytics-section {
	max-width: 1020px;
	margin: 0 auto;
	}

	#link-view {
		margin-top: 10px;
		width: 90%;
		margin-left: 5%;
		height: 450px
	}



