// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

* {
	box-sizing: border-box;
}

#instruction-1 { position: absolute; margin-left: 510px; margin-top: -20px;}

.modal-content { overflow: hidden;}
.modal-header {background: $lightgrey; color: white; text-align: center;}
#options-wrapper { 
	font-family: $primary_font;
	a {color: $secondary;}
	margin: 0 auto;
	width: 90%;
	padding: 20px;
	.options { 
		text-align: center;
		margin: 20px auto;
		.option { 
			.img-tag { position: relative; top: -22px;}
			height: 120px;
			border-radius: 20px;
			border: solid 1px $lightgrey;
			background: $white;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
			&:hover { box-shadow: 0 2px 4px 0 $main;}
			.sub-title { margin: 4px 0;}
			.sub-price { padding: 5px 0; font-size: 1.2em; color: $main;}
			.sub-detail { padding: 10px 0;}
		}
	}
	.conditions { text-align: center; font-size: 0.8em;}
}
.terms{ text-align: center; color: $secondary; font-size: 0.8em}

.link-form-wrapper { 
	padding: 10px; 
	margin: 0 auto; 
	width: 40%; 
	color: $secondary;
	#link-details-title { font-weight: bold;}
	.details-wrap {
		padding: 20px 30px;
		border: solid 2px #A3A5B9;
		border-radius: 10px;
		margin: 0 0 10px 0;
		.hits { margin: 0 auto; text-align: center; width: 100px; .hits-label {margin-bottom: 3px;}}
	}
	#link_link { padding-left: 90px;}
	#url-placeholder { position: absolute; margin: 10px 0 0 15px;}
	#url-instruction {text-align: center; margin-top: 3px;}
	.basic {background: $basic;}
	.silver {background: $silver;}
	.bronze {background: $bronze;}
	.gold {background: $gold;}

	.stripe-button-el { display: none}

	.token-tag { 
		width: 100%;
		z-index:3000;
		position: absolute;  
		top: 9px;
		left: 0;
	}
	.new-link-form-title { 
		color: white;
		text-align: center; 
		margin-top: 5px; 
		margin-bottom: 15px; 
		font-weight: bold; 
		font-size: 2em;
	}
}
#stripe-logo { text-align: center}
#stripe_error { text-align: center; color: $main; padding: 5px 0; font-weight: bold;}

// Edit Form

#link-preview { width: 100%; height: 250px; margin-bottom: 10px; background: white;}

//index styling

#link-index-img {
	position: fixed;
	top: 0;
	left:0;
	z-index: -1000;
	background-image: url(/assets/big-bg-logo.png);
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}

#nest-title {
	z-index: 1000;
	position: fixed;
	top: 55px;
	background: none;
	width: 100%;
	padding: 40px 0 20px 0;
	text-align: center;
	font-family: $primary_font;
	font-size: 1.5em;
	color: $secondary;

}

h1, h2{
	font-weight: 700;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

#nested_links	{
	max-width: 505px;
	margin: 0 auto;
	padding-top: 70px;
}

#no-links {
	text-align: center;
	position: absolute;
	bottom: 65px;
	margin-left: 120px;
	font-size: 1.2em;
	font-family: $primary-font;
	color: $lightgrey;
}

.link-item {
	margin-top: 4px;
	width: 100%;
	height: 44px;
	border-radius: 25px;
	padding: 13px;
	color: white;
	background: $linkItems;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;	
	.link-icon {
		a {color: $main; &:hover {color: $secondary;}}
		.circle { 
			position:absolute;
			text-align: center;
			padding-top: 6px;
			padding-left: 1px;
			font-size: 0.9em;
			margin-top: -32px;
			margin-left: -14px;
			background: white;
			height: 46px;
			width: 46px;
			border-radius: 50%;
			.tag-img {margin: -6px 0 0 -1px;}
		}
	}
	.link-title {}
	.link-code { text-align: right;}
	.expand-link { position: absolute; margin-left: 500px; margin-top: -17px; color: $secondary; cursor: pointer;}
	}

	.active {}
	.ending {.link-code {color: orange;}}
	.expired {
		background: $expired-fill;
		border-color: $lightgrey !important;
		.circle {color: $lightgrey;
	}
	.expired-btn {
		border-color: $lightgrey !important;
		a {color: $lightgrey;}
	}
}
.details { width: 100%; margin-top: -5px;}
.link-details { 
	height: 221px;
	background: $lightgrey;
	margin: 0 auto; 
	width: 90%; 
	display: none; 
	border-radius: 0px 0px 15px 15px; 
	margin-top: 0px; 
	margin-bottom: 3px;
	border: solid 1px $lightgrey; 
	border-top: none;
	overflow: hidden;
}

#detail-header {
	font-weight: bold;
	padding: 10px;
	background: $lightgrey;
	width: 100%;
	height: 40px;
	text-align: center;
	color: white;
}
.row-detail { width: 100%; margin-left: 0px !important;}

.detail-container {
	padding: 10px;
	background: white;
	box-shadow:0px 0px 0px 1px $lightgrey inset; 
}
.title { 
	width: 100%; 
	position: absolute; 
	padding-right: 25px; 
	padding-top: 5px; 
	text-align: right; 
	color: $lightgrey; 
	font-size: 1.1em;
}
.large-detail {
	height: 70px;
}
.mid-detail {
	height: 40px;
}
.target {
	height: 40px;
}
#zeros { position: absolute; color: $superlight; font-size: 3.5em;}
#visits {
	position: absolute;
	background: white;
	font-size: 3.5em;
	color: $main;
}
.date {
 	padding-top: 30px; color: $main; font-size: 0.9em; font-weight: bold;
}
#menu {
	.menu-item {
		cursor: not-allowed; color: $superlight;
		padding: 0;
		text-align: center;
		a { color: $lightgrey; &:hover { color: $secondary; cursor: pointer;} }
		.icon {
			font-size: 1.2em;
			margin-top: 10px;
		}
		.smile-active { color: $appgreen;}
		.smile-ending { color: orange;}
		.smile-expired { color: $main;}
		.smile-status { color: $lightgrey;}
		.menu-text {
			font-size: 0.8em;
			padding-top: 5px;
		}
	}
}
#menu-2 { cursor: pointer !important;}
#target-top {
	margin-top:5px;
	font-size: 1.2em;
	color: $lightgrey;
	#target-start {}
	#target-title {text-align: center}
	#target-end {text-align: right;}
	.target { color: $secondary;}
}
#target-bottom {
	background: #F4F8F6;
	overflow: hidden;
	padding: 0;
}
.target-bar { background: $appgreen; height: 40px;}

@media only screen and (max-width: 975px) {
	.row {
		.user-link {
			width: 46%;
			min-width: 250px;
			margin: 10px 1.6%;
		}
	}
}

@media only screen and (max-width: 700px) {}
	

@media only screen and (max-width: 575px) {}

	#nested_links	{
		margin: 0 auto;
	}
	
/* Show.html.erb */

#graph-section {
	padding: 2em 0;
	max-width: 1020px;
	min-height: 380px;
	margin: 0 auto;
	text-align: center;
	color: $secondary;
	h1 {
		font-family: $primary_font;
		font-size: 2em;
	}
	h2 {
		padding-top: 0.5em;
		font-size: 1.3em;
	}

	#show-details { width: 400px; margin: 0 auto;}
	.goal-achieved {
		position: absolute;
		z-index: 1000;
		top: 160px;
		left: 60px;
		height: 110px;
		width: 150px;
		background-image: image-url("MissionComplete.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.graphs {
	margin-top: 40px;
}
.graph {border: solid 2px $secondary; border-radius: 10px; padding: 10px;}
.no-border { border:none;}


