// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";


// Welcome page

#clouds	{ 
	height: 400px; 
	z-index: -3000;
	top: 100px; 
	left: 0;
	position: absolute; 
	width: 100%; 
	background-image: url(/assets/clouds.png);
	background-repeat: no-repeat;
}
#arrow-img {position:absolute; margin-left: 360px; margin-top: -95px;}

.fetch-bg {
	margin-top: -35px;
	font-family: $primary-font;
	width: 100%;
	height: 100%;
}

.fetch-wrapper {
	width: 90%;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}

#logo {
		font-family: $fancy-font;
		color: $main;
		font-size: 8em;
		font-weight: 100;
	}

#title {
	color: $lightgrey;
	font-size: 3em;
	padding: 0 0 5% 0;
	font-weight: 700;
	letter-spacing: -0.81px;
	margin-top: -10px;
}

// fetch form

.input-group {
	font-family: $primary-font;
	width: 35%;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 20px;
	.code-input, .input-group-addon {
		font-family: $primary-font;
		text-align: center;
		height: 55px;
		font-size: 2.4em;
		border-radius: 0 3px 3px 0 !important;
	}
	.input-group-addon {
			width: 55px;
			font-size: 2.8em;
			border-radius: 3px 0 0 3px !important;
			color: white;
		}
	}

	.submit-code-btn {
		font-family: $primary-font;
		font-weight: 900;
		letter-spacing: -0.81px;
		width: 35%;
		max-width: 500px;
		background: $welcomeButton;
		margin-top: 0px;
		border: 2px solid $welcomeButton;
		height: 55px;
		border-radius: 3px;
		transition: all .4s ease-in-out;
		cursor: pointer;
		color: $white;
		font-size: 2.4em;
		&:hover {
			border: 2px solid $white; opacity: 0.9; font-size: 2.3em;
		}	
	}
	
// Landing section
#landing-wrapper {
	position: absolute;
	top: 75%;
	width: 100%;
}
#landing-color-section { 
	width: 100%;  
	background: $main;
	color: white;
	padding-bottom: 15px;
}
#landing-color-section-header {
		padding: 20px;
		text-align: center;
		font-size: 1.2em;
	}

// Email capture
#landing-user-form{
	padding: 20px 0 30px 0;
	#user_email { max-width: 380px; width: 50%; border: none; height: 40px;}
	.landing-btn-submit { max-width: 240px; width: 25%; height: 41px; background: #7C7C7C; font-size: 0.8em;}
}

// landing text

.line-spaced {
	line-height: 20px;
	letter-spacing: 0.8px;
	font-size: 1.1em;
}

.landing-text-container {
	width: 70%;
	margin-left: 15%;
	overflow: hidden;
}

.landing-h1 {
	font-size: 1.2em;
	padding: 20px 0 0 0 ;
	text-align: center;
}

.landing-main-text {
	text-align: center;
	font-weight: 100;
	padding: 20px 0 30px 0;
	margin: 0 auto;
}
.narrow { width: 340px; }

.landing-main-text-center{
	width: 50%;
	margin-left: 25%;
}

.narrow-dots-container {
	width: 50%;
	display: block;
	height: 40px;
}
.dots-container-right {
	margin-left: 50%;
}
.wide-dots-container {
	width: 100%;
	display: block;
	height: 40px;
}
.dots {
	width: 35%;
	max-width: 240px;
	height: 40px;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.left-dots {
	float: right;
	background-image: url(/assets/dots-short.png);
}
.right-dots {
	float: left;
	background-image: url(/assets/dots-short.png);
	
}
.wide-dots {
	margin: 0 auto;
	max-width: 480px;
	background-image: url(/assets/dots-wide.png);
}

.example-image {
	text-align: center;
	padding: 70px;
}
#share-img {
	text-align: center;
}

#welcome-footer {
	height: 60px;
	text-align: center;
	color: $secondary;
	font-size: 1em;
	padding: 20px;
}

#trio-boxes {
	margin: 20px 0 20px 15%;
	width: 70%;
	text-align: center;
	.box { margin-top: 5px;}
}

@media only screen and (max-width: 1100px) {

	#arrow-img {display: none;}
	#top_header {background: white !important;}
}

@media only screen and (max-width: 768px) {

	#logo {
		font-size: 7em;
	}

	#title {
		font-size: 4.5em;
	}

	.input-group {
		width: 60%;
		.code-input, .input-group-addon {
			font-size: 2em;
			height: 50px;
		}
		.input-group-addon {
			width: 50px;
		}
	}

	.submit-code-btn {
		font-size: 2em;
		height: 50px;
		margin-top: 0;
	}
	
}

@media only screen and (max-width:875px) {

	#example-box-wrapper { 
		padding-bottom: 50px;
		width: 90%;
		margin: 0 auto;
	}	

	// Email capture
	#landing-user-form{
		padding: 20px 0 30px 0;
		#user_email { text-align: center; max-width: 460px; width: 100%; margin: 0 auto; border: none; height: 40px;}
		.landing-btn-submit { margin-top: 5px; max-width: 460px; width: 100%; height: 41px; background: #7C7C7C; font-size: 0.8em;}
	} 

	#landing-wrapper {
		position: absolute;
		top: 65%;
		width: 100%;
	}

	#clouds	{ top: -50px; }

	.fetch-wrapper {
	padding-top: 15%;
	}

	#logo {
		font-size: 5em;
	}

	#title {
		font-size: 2em;
	}

	.input-group {
		width: 80%;
		.code-input, .input-group-addon {
			font-size: 1.5em;
			height: 40px;
		}
		.input-group-addon {
			width: 40px;
		}
	}
	.submit-code-btn {
		width: 80%;
		font-size: 1.5em;
		height: 40px;
	}
	.mylinks {
		a{ font-size: 1.1em; }
	}
	#landing-tokens-bg { 
		height: 900px;
	}
}
